/**
This is composed of Toolkit3-specific rules as well as rules copied from the new
Direct Tool template.
author Diane Azais, Olivier Herrmann, Julien Perugini
2014
*/

/*
The width of the app is set through this CSS for the navigation bar (navbar) and
through the width of the set of tabs in Xdstools3ActivityView.java.
*/


/* ----------- Global styles ----------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body{
    margin:0;
    font-family: Verdana;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%;
}
h1,
.h1 {
    font-size: 36px;
}
h2,
.h2 {
    font-size: 30px;
}
h3,
.h3 {
    font-size: 18px;
    font-weight: bold;
    color: #021a4c;
    padding-left:15px;
    padding-top:15px;
    padding-bottom:30px;
}
.h3-nopadding {
    font-size: 18px;
    font-weight: bold;
    color: #021a4c;
    padding-bottom:10px;
}
h4,
.h4 {
    font-size: 16px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}
p {
    margin: 0 0 10px;
}
.home-subtitle{
    font-size: 18px;
}
.subtitle1{
    color: #4d4d4d;
    font-size: 14px;
    padding-left:15px;
    font-weight: bold;
}
.subtitle2{
    font-size: 18px;
}
.noSetting {
    text-align: center;
}

.mainLayout{
    height:100%;
    background-color: #f5f5f5;
}
.mainLayout .homelinkbutton{
    font-size: 14px;
}
.app-padding{
    padding-left: 20px;
    padding-right: 20px;
}



/* ----------- Tabs ----------- */
.tabpane {
    border: 0;
}
.tabpane .h4{
}


/* ----------- Navigation bar (yellow bar) ----------- */

.navbar {
    font-family: 'Roboto', sans-serif;
    background: #ffec9d;
    background-color: #ffec9d;
    color: #021a4c;
    -webkit-filter: none;
    filter: none;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #fc0;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}
.app-padding.navbar-inner{
    width:1200px;
    margin:auto;
}
nav{
    display:block;
    margin:auto;
    width:100%;
    z-index: 10;
}
nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
nav ul:after {
    content: ""; clear: both; display: block;
}
nav ul li {
    float: left;
    position: relative;
    display: block;
}
nav ul li:hover {
    background-color: #fc0;
}
nav ul li:hover a {
}

nav ul li a {
    display: block;
    position:relative;
    text-decoration: none;
    color:#777;
}
nav ul li a:hover {
    color:#555;
}
nav ul ul {
    background: #fc0; padding: 0px; margin:0px;
    position: absolute; top: 100%;
}
nav ul ul li {
    float: none;
    border:2px solid #fc0;
    border-top:0;
    position: relative;
}
nav ul ul li a {
    color: #777;
}
nav ul ul li a:hover {
    background: #ffec9d;
}
nav ul ul ul {
    position: absolute; left: 100%; top:0;
}

/* Fontawesome icons on the right hand side of the yellow toolbar */
.icon-link{
    border:0;
    text-decoration: none;
}
.right-side-button{
    border:0;
    text-decoration: none;
}



/* ----------- Smartgwt toolbar (Sessions, environments, etc.) ----------- */

.toolbar {
    background: #f4f4ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbf9ff 0%, #f2f7ff 55%, #e5e8ff 100%); /* FF3.6   */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf9ff), color-stop(55%,#f2f7ff), color-stop(100%,#e5e8ff)); /* Chrome,Safari4   */
    background: -webkit-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* Chrome10  ,Safari5.1   */
    background: -o-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* Opera 11.10   */
    background: -ms-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* IE10   */
    background: linear-gradient(to bottom,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9ff', endColorstr='#e5e8ff',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    /* Setting the border inside the CSS does not work on this component, for some reason. Cf classes Toolbar.java and GenericRibbonGroup.java. */
}

/* Style of a RibbonGroup object inside the Toolbar */
.toolbarGroup {
    background: #f4f4ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbf9ff 0%, #f2f7ff 55%, #e5e8ff 100%); /* FF3.6   */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf9ff), color-stop(55%,#f2f7ff), color-stop(100%,#e5e8ff)); /* Chrome,Safari4   */
    background: -webkit-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* Chrome10  ,Safari5.1   */
    background: -o-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* Opera 11.10   */
    background: -ms-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* IE10   */
    background: linear-gradient(to bottom,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9ff', endColorstr='#e5e8ff',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
}
.toolbarGroupTitle {
    background: #fbf9ff; /* Old browsers */
    font-size: 11px;
}

/* Icons greyed out */
.glyphicon {
    opacity:0.6;
    filter:alpha(opacity=60);  /*For IE5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    -moz-opacity: 0.6; /* Netscape */
    -khtml-opacity: 0.6; /* Safari 1.x */
}



/* ----------- Footer ----------- */
footer{
    margin:0px;
    padding:0px;
    line-height: 27px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    border-top: 1px solid #e5e5e5;
    background-color: #f1f1f1;
    z-index: 10;
}
footer ul{
    width:1024px;
    list-style: none;
    margin:0 auto;
}
footer ul li {
    float: left;
    width:50%;
    text-align:center;
    position: relative;
    display: block;
}
footer ul li a{
    color:#15c;
    text-decoration:none;
}
footer ul li a:hover{
    text-decoration:underline;
}



/* ----------- Home page ----------- */


.home-box{
    padding:20px;
    padding-top:10px;
    padding-bottom:15px;
    margin-left:45px;
    margin-right:45px;
    margin-top:20px;
    margin-bottom:20px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    background: #f4f4ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbf9ff 0%, #f2f7ff 55%, #e5e8ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf9ff), color-stop(55%,#f2f7ff), color-stop(100%,#e5e8ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbf9ff 0%,#f2f7ff 55%,#e5e8ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9ff', endColorstr='#e5e8ff',GradientType=0 ); /* IE6-9 */
}
.home-button {
    border: none;
    background: none;
    margin:0;
    padding-left:28px;
}
.home-buttonOver{
    font-weight:bold;
    padding-left:28px;
}
.under-construction-label{
    font-style: italic;
    color: orangered;
}


/* ----------- Misc. ----------- */
.wait-message {
    margin-top:5px;
    /*height:30px;*/
}

.gwt-form-margin {
    margin-left:10px;
}

