<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Document Sharing Toolkit</display-name>

    <!-- ============== Toolkit initialization ============== -->

    <servlet>
        <servlet-name>Initialization</servlet-name>
        <servlet-class>gov.nist.hit.ds.tkInitialization.InitializationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Initialization</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>


    <!-- ============== Jersey import for REST ============== -->
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gov.nist.hit.ds.xdstools3;gov.nist.hit.ds.simServlet.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!-- ============== Application servlet classes ============== -->
    <servlet>
        <servlet-name>mhdTabsServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.MHDServicesImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preConnectathonTabServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.PreConnectathonTabServiceImpl</servlet-class>
    </servlet>
    <!--<servlet>-->
        <!--<servlet-name>findDocumentTabServlet</servlet-name>-->
        <!--<servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.FindDocumentServicesImpl</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.LoginServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>toolbarServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.ToolbarServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testDataSubmissionServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.TestDataSubmissionServicesImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repositoryServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.repository.rpc.search.server.RepositoryServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadAssetServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.repository.rpc.search.DownloadAssetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSettingsServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.AdminSettingsImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>endpointServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.EndpointImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testStatusServlet</servlet-name>
        <servlet-class>gov.nist.hit.ds.xdstools3.server.RPCServices.TestStatusTabImpl</servlet-class>
    </servlet>



    <!-- v2 begin ======================== -->


    <!--

        These 3 parameters are no longer used.
    -->


    <!--  Server settings
        <context-param>
            <param-name>actors-file-location</param-name>
            <param-value>/Users/ebxmlrr/toolkittmp/actors.xml</param-value>
            <description>Local configuration location for actors.xml file. Tool
                will look here first. If this file cannot be opened then the
                internal copy will be used. Internal copy cannot be updated,
                only referenced. If this file does not exist but its
                directory does, then first edit will initialize from internal
                copy and then save to this location.</description>
        </context-param>

        <context-param>
            <param-name>admin-password</param-name>
            <param-value>easy</param-value>
            <description>Needed for saving configurations</description>
        </context-param>

        <context-param>
            <param-name>message-db-path</param-name>
            <param-value>/Users/ebxmlrr/toolkittmp/simdb</param-value>
            <description>File system location for simulator database.</description>
        </context-param>

        -->

    <!--

      End of configuration parameters.

   -->

    <!--  The filter is necessary so the simulator response headers can be captured for the message log -->
    <filter>
        <filter-name>response-header-log</filter-name>
        <filter-class>gov.nist.toolkit.simulators.servlet.SimServletFilter</filter-class>
    </filter>

    <filter>
        <filter-name>response-header-log2</filter-name>
        <filter-class>gov.nist.toolkit.simulators.servlet.SimServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>response-header-log</filter-name>
        <url-pattern>/sim/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>response-header-log2</filter-name>
        <url-pattern>/xdstools2/sim/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>gov.nist.toolkit.xdstools2.server.SessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>gov.nist.toolkit.xdstools2.server.MyServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>toolkitServlet</servlet-name>
        <servlet-class>gov.nist.toolkit.xdstools2.server.ToolkitServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>pidAllocateServlet</servlet-name>
        <servlet-class>gov.nist.toolkit.xdstools2.server.PidAllocateServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>gov.nist.toolkit.xdstools2.server.upload.UploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>simulatorServlet</servlet-name>
        <servlet-class>gov.nist.toolkit.simulators.servlet.SimServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>simulatorServlet2</servlet-name>
        <servlet-class>gov.nist.toolkit.simulators.servlet.SimServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>messageServlet</servlet-name>
        <servlet-class>gov.nist.toolkit.simulators.servlet.SimServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>toolkitServlet</servlet-name>
        <url-pattern>/xdstools3/toolkit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>pidAllocateServlet</servlet-name>
        <url-pattern>/xdstools3/pidAllocate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/xdstools3/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>messageServlet</servlet-name>
        <url-pattern>/xdstools3/message/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>messageServlet</servlet-name>
        <url-pattern>/message/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>simulatorServlet</servlet-name>
        <url-pattern>/sim/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>simulatorServlet</servlet-name>
        <url-pattern>/xdstools3/sim/*</url-pattern>
    </servlet-mapping>



    <!-- v2 end ========================= -->

    <!-- ============== Servlet mappings ============== -->
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>preConnectathonTabServlet</servlet-name>
        <url-pattern>/xdstools3/preconnectathon-tab</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mhdTabsServlet</servlet-name>
        <url-pattern>/xdstools3/mhd-tabs</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
        <!--<servlet-name>findDocumentTabServlet</servlet-name>-->
        <!--<url-pattern>/xdstools3/finddocument-tab</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>testDataSubmissionServlet</servlet-name>
        <url-pattern>/xdstools3/test-data-submission</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/xdstools3/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>toolbarServlet</servlet-name>
        <url-pattern>/xdstools3/toolbar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>/fileUploadServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminSettingsServlet</servlet-name>
        <url-pattern>/xdstools3/adminSettings</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>repositoryServlet</servlet-name>
        <url-pattern>/xdstools3/repository</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadAssetServlet</servlet-name>
        <url-pattern>/repository/downloadAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>endpointServlet</servlet-name>
        <url-pattern>/xdstools3/sites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testStatusServlet</servlet-name>
        <url-pattern>/xdstools3/testStatus</url-pattern>
    </servlet-mapping>



    <!-- ============== Default page to serve ============== -->
    <welcome-file-list>
        <welcome-file>Xdstools3.html</welcome-file>
    </welcome-file-list>

    <!-- ============== Listeners ========================== -->
    <listener>
        <listener-class>gov.nist.hit.ds.repository.simple.index.db.DbAppCtxListener</listener-class>
    </listener>

</web-app>

