<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- ============== Toolkit initialization ============== -->

    <servlet>
        <servlet-name>Initialization</servlet-name>
        <servlet-class>gov.nist.hit.ds.tkInitialization.InitializationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Initialization</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>


    <!-- Servlets -->
<!--  begin repository tools -->
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>gov.nist.hit.ds.repository.rpc.search.SearchServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>downloadAssetServlet</servlet-name>
		<servlet-class>gov.nist.hit.ds.repository.rpc.search.DownloadAssetServlet</servlet-class>
	</servlet>
	<!--  end repository tools -->
	<!--  this is for the gwt rpc -->
	<servlet>
		<servlet-name>repositoryServlet</servlet-name>
		<servlet-class>gov.nist.hit.ds.repository.rpc.search.server.RepositoryServiceImpl</servlet-class>
	</servlet>
	<servlet>
  <servlet-name>jUnitHostImpl</servlet-name>
  	<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>

<!--  mapping -->

	<!--  begin repository tools -->	
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/repository/list</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>downloadAssetServlet</servlet-name>
		<url-pattern>/repository/downloadAsset</url-pattern>
	</servlet-mapping>
	<!--  end repository tools -->	
	<!--  this is for the gwt rpc -->
	<servlet-mapping>
		<servlet-name>repositoryServlet</servlet-name>
		<url-pattern>/logBrowser/repository</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>jUnitHostImpl</servlet-name>
	  <url-pattern>/logBrowser/junithost/*</url-pattern>
	</servlet-mapping>
	
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>logBrowser.html</welcome-file>
  </welcome-file-list>

</web-app>
